@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


* {
  box-sizing: border-box;
}

:root {
  --color-header: #2C2C32;
  --color-header-reverse: #3c4141;


  --color-header-more-black: #353538;

  --color-bg: #eee5f8;
  --color-container: #cfc9cf;


  --color-active: #c89fd9;
  --Ñolor-active-reverse: #b0d99f;


  --color-inactive: #becbcf;

}

body {
  margin: 0 auto;
  font-family: 'Bangers', cursive;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


header,
footer {
  background-color: var(--color-header);


}


header a,
footer a {
  color: var(--color-inactive);
  text-decoration: none;
  padding: 0 1rem;
}

header>a:hover,
footer>a:hover {
  text-decoration: underline;

}



/* header, footer */
.hf-cont {
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 200px;

  max-width: 1600px;


}

.hf-cont-elem {
  display: flex;
  align-items: center;
  height: 200px;
}

#n2 {
  width: 600px;
}


/* logo */
#logo_sui_outlaws {
  width: 200px;
}

#logo_sui_outlaws1 {
  width: 200px;
  position: relative;
  right: 90px;
}

h1 {
  text-align: center;
}





.container {
  max-width: 1400px;
  min-height: 600px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;

  background-color:#3c414156;
}


/* 364d4d */
/* 515b61 */
main {
  min-height: calc(100vh - 85px - 22px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #6e9898;
}

a {
  text-decoration: none;
  color: var(--color-bg);
  text-align: center;
}

a:hover {
  text-decoration: underline;

}



.active {
  color: var(--color-active);
  cursor: default;
}